<div class="panel">
  <div class="panel-heading"></div>
       <h2>Sign Up</h2>

<div class="panel-body"></div>
  <%=form_for(:user,url:'register') do |f|%>
      <% if @user.errors.any? %>
          <div class="alert alert-danger"></div>
            <button class="glyphicon glyphicon-alert"
                    role="button" data-dismiss="alert"
                    aria-expanded="false">&times;
            </button>
            <h3 class="h3">
              <%pluralize(@user.errors.count,"errors") %>
              &nbsp; prevented your registration.
            </h3>
            <ul>
              <%= @user.errors.messages do |message| %>
                  <li>
                    <%=message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group-md-5">
        <%=f.label :'Email' %>
        <%=f.label :email, {"class"=>'form-control'} %>
      </div>
    <div class="form-group-md-5">
      <%=f.label :'Password' %>
      <%=f.label :password, {"class"=>'form-control'} %>
    </div>
    <div class="form-group-md-5">
      <%=f.label :'Confirm Password' %>
      <%=f.label :confirm_password, {"class"=>'form-control'} %>
    </div>
    <span class="dl-horizontal"></span>
      <% class="form-group-md-5"%>
      <%=f.submit :sign_up, {'class'=>'btn btn-lg btn-primary'} %>
    <% end %>
    </div>

